@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
  
	background-color: #578f66;
  overflow-x: hidden;
  margin:0;
  padding: 0;
}

div#text {
  margin-top: -35vw;
  position: relative;

}
div#card{

  position: relative;
  width: 100vw;
  height: 40vw;
  background-color: white;
  margin-top: -45vw;
  opacity: 0.5;
 
}
h1 {

font-family: 'Indie Flower', cursive;
 font-size: 5vw;
 color:black;
  
}
h2 {
  color: black;
	font-family: 'Indie Flower', cursive;
	font-size: 3vw;
  
}

h3#DogWalking {
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 3vw;
}

h3#DoggieDaycare {
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 3vw;
}

h3#Boarding{
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 3vw;
}
p{
	font-size: 2vw;
	font-family: 'Raleway', sans-serif;
	color: white;
}

img#dogwalker {
  width: 100vw;
  height: 50vw;
  margin:0;
  padding:0;
}

div#nav_bar {
  margin-top: 15vw;
}

a:link {
  background-color: transparent;
  padding: 40px;
  font-weight: bold;
  color: black;
  border-style: none;
  font-size: 20pt;
  font-family: 'Indie Flower', cursive;
	text-decoration: none;

}

a:visited {
 background-color: transparent;
  padding: 40px;
  font-weight: bold;
  color: black;
  border-style: none;
  font-size: 20pt;
  font-family: 'Indie Flower', cursive;
	text-decoration: none;
}

a:hover {
 background-color: transparent;
  padding: 40px;
  font-weight: bold;
  color: black;
  border-style: none;
  font-size: 20pt;
  font-family: 'Indie Flower', cursive;
	text-decoration: none;
	filter: opacity(0.5);
}

a:active {
  background-color: transparent;
  padding: 40px;
  font-weight: bold;
  color: black;
  border-style: none;
  font-size: 20pt;
  font-family: 'Indie Flower', cursive;
	text-decoration: none;
}

div{
	font-family: 'Indie Flower' cursive;
	
}

input {
  width: 75vw;
  padding: 20px;
  border-radius: 50px;
  border: 3px solid white;
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 18pt; 
  resize: vertical;
}

textarea {
  width: 75vw;
  padding: 20px;
  border-radius: 50px;
  border: 3px solid white;
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 18pt;
  resize:none;
}

button {
  padding:10px;
  border:none;
  background-color: rgb(26, 184, 131);
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:75%;
}

h2#thanks{
  font-family:"Raleway";

}